/*CSS Slider checkbox switch https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
.centerContainer {
  margin: auto;
  width: fit-content;
  padding: 10px;
}


.centerForm {
  margin: auto;
  width: 60%;
  padding: 10px;
}


form .formInput {
  border-color: #0a1015;
  border-width: 2px;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  font-size: 40px;
}

form .formInput:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(195, 220, 227);
}

form .formSubmitBtn {
  width: 40vw;
  height: 65px;
  font-size: larger;
  font-weight: 900;
  border-radius: 25px;
  border-color: #1b2d3c;
  border-width: 2px;
  margin-top: 50px;
  cursor: pointer;
  background-color: #dadada;
  box-shadow: 5px 10px #0a1015;

}

form .formSubmitBtn:hover {
  color: rgb(37, 36, 36);
  box-shadow: none;
}

.userCard {
  font-size: 20px;
  font-weight: 700;
}

.userCard .imageAndNameConatiner {
  display: flex;
}

.userCard .imageAndNameConatiner img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userCard .imageAndNameConatiner .imageContainer {}

.userCard .imageAndNameConatiner .nameContainer {
  padding-left: 3vw;
}

.userCard .imageAndNameConatiner .nameContainer .userName {
  font-size: medium;
}

.userCard .imageAndNameConatiner .nameContainer .name {
  font-size: large;
}

.followersAndrepositories {
  display: flex;
}

.followersAndrepositories .userRepositories {
  padding-left: 2vw;
}

.themeSetterBtn {
  padding: 20px 30px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 5px 10px #0a1015;

}

.themeSetterBtn:hover {
  box-shadow: none;
}